body {
background-color: rgb(190, 250, 250); }

h1{
color: black;
}

div{
margin: 2%;
width: 50%;
height: 200%;
}

#padre {
background-color: brown;
}

#hijo { 
    background-color: bisque;
}

.caja {
    width: 400px;
}





